[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "apaTables"]
	path = apaTables
	url = https://github.com/dstanley4/apatables
	shallow = true
	registered = true
[submodule "apaText"]
	path = apaText
	url = https://github.com/dstanley4/apatext
	shallow = true
	registered = true
[submodule "predictionInterval"]
	path = predictionInterval
	url = https://github.com/dstanley4/predictioninterval
	shallow = true
	registered = true
[submodule "replicationInterval"]
	path = replicationInterval
	url = https://github.com/cran/replicationInterval
	shallow = true
	registered = true
